@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&family=Trispace&display=swap');
$color1: rgb(123, 63, 228);
$color2: #000;


$breackpoints: (
    sm:300px,
    md:750px,
    lg:1024px
);

@mixin media-up($breackpoint) {
    @media screen and (min-width: map-get($breackpoints, $breackpoint)) {
        @content;
    }
}

.welcome {
    width: 100%;
    background: transparent;
    color:white;
    min-height: 500px;
    display: grid;
    justify-items: center;
}

.welcome__section1 {
    width: 100%;
    height: 600px;
    display: grid;
    @include media-up(sm) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    @include media-up(md) {
    grid-template-columns: 1fr 1fr;
     grid-template-rows: 1fr;
    }
    
}

.welcome_article1--imagen {
    border: solid 1px $color1;
    margin: 100px;
}

.welcome_article1 {
    display: grid;
    justify-items: center;
    align-items: center;

}

.welcome__h1 {
    font-size: 3rem;
    font-family: 'Press Start 2P', cursive;
    letter-spacing: .7rem;
    margin: .7rem;
    color: $color1;
}

.welcome__h1::after 
{
    position: absolute;
    content: '';
    width: 2px;
    height: .7rem;
    top: 2px;
    right: 2px;
    color:aliceblue;
    background: #fff;
}

.welcome__p {
    font-size: 1.4rem;
    margin: 10px;
    font-family: 'Space Grotesk', sans-serif;
}

.welcome__button {
    color: white;
    background: $color1;
}

.welcome__button:hover {
    color: white;
}

.welcome_div1 {
    width: 100%;
    @include media-up(sm) {
            display: grid;
            justify-items: center;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;

        }
}

.welcome__article2 {
    width: 100%;
    height: 500px;
}