$color1: rgb(123, 63, 228);
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&family=Trispace&display=swap');


$breackpoints: (
    sm:300px,
    md2:600px,
    md:750px,
    lg:1024px
);

@mixin media-up($breackpoint) {
    @media screen and (min-width: map-get($breackpoints, $breackpoint)) {
        @content;
    }
}


