.container-icon {
    font-size: 30px;
    position: absolute;
    color: #f66;
    top: -2px;
    right: -21px;
    .icon{
        animation: none;
    }
}

.container-icon:hover {
    color: #f88;
}