$color1: rgb(123, 63, 228);
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&family=Trispace&display=swap');


$breackpoints: (
    sm:300px,
    md:750px,
    lg:1024px
);

@mixin media-up($breackpoint) {
    @media screen and (min-width: map-get($breackpoints, $breackpoint)) {
        @content;
    }
}

.nav {
    width: 100%;
    height: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    background: transparent;
}

.nav__button {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .5px;
    grid-column:5/6;
    font-size: 1.5rem;
    height: 40px;
    width: 140px;
    display: grid;
    place-items: center;
    @include media-up(sm) {
        margin: 10px;
        margin-right: 50px;
        }

}

svg {
    width: 2.25em;
    transform-origin: center;
    animation: rotate4 2s linear infinite;
   }
   
   circle {
    fill: none;
    stroke: rgb(123, 63, 228);
    stroke-width: 2;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash4 1.5s ease-in-out infinite;
   }
   
   @keyframes rotate4 {
    100% {
     transform: rotate(360deg);
    }
   }
   
   @keyframes dash4 {
    0% {
     stroke-dasharray: 1, 200;
     stroke-dashoffset: 0;
    }
   
    50% {
     stroke-dasharray: 90, 200;
     stroke-dashoffset: -35px;
    }
   
    100% {
     stroke-dashoffset: -125px;
    }
   }

.home {
    margin-left: 15px;
}

.plgn {
    grid-column: 4/5;
    background: rgb(123, 63, 228);
    border-radius: 0.5em;
    color: white;
    border: none;
    transition: all .3s;
    cursor: pointer;
    letter-spacing: .5px;
    overflow: hidden;
    display: grid;
    place-items: center;
    padding: 0px;
    height: 40px;
    width: 130px;
grid-template-columns: 1fr;
    font-family: 'Montserrat', sans-serif;
}

.plgn:hover {
    background: rgb(163, 111, 253);
}
   