* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    background: #000;
    // font-size: 62.5%;
    position: relative;
}

.app
{
    display: grid;
    grid-template-rows: 80px 1fr 350px;
}