$color1: rgb(123, 63, 228);
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&family=Trispace&display=swap');


$breackpoints: (
    sm:300px,
    md2:600px,
    md:750px,
    lg:1024px
);

@mixin media-up($breackpoint) {
    @media screen and (min-width: map-get($breackpoints, $breackpoint)) {
        @content;
    }
}

.userPanel {
    color: white;
    display: grid;
    gap: 1.3rem;

}

.userPanel__h2 {
    font-size: 4rem;
    font-family: 'Montserrat', sans-serif;
    color:$color1 ;
    justify-self: center;
}

.userPanel__box {
    width: 15rem;
    height: 14rem;
    box-shadow: 2px 2px 2px #222;
    background-color: rgb(7, 7, 7);
    display: grid;
    place-items: center;
}

.userPanel__parrafo {
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    color: rgb(131, 130, 130);
}

.userPanel_titulo {
    font-size: 1rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
        color: rgb(131, 130, 130);
}

.userPanel__vehicle {
    display: grid;
    justify-items: center;
    gap: 1.5rem;
    margin-bottom: 2rem;

    @include media-up(sm) {
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
    }

    @include media-up(md2) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    @include media-up(lg) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

}

.userPanel__user {
    display: grid;
    justify-items: center;
    margin-bottom: 2rem;
        gap: 1.5rem;

    @include media-up(sm) {
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
    }

    @include media-up(md2) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    @include media-up(lg) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

}

.userPanel__maintenance {
    display: grid;
    justify-items: center;
    gap: 1.5rem;
    margin-bottom: 2rem;

    @include media-up(sm) {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
    }

    @include media-up(md2) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    @include media-up(lg) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

}

.divContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    background: rgba(255, 255, 255, .4);
}

.divContainer-form
{
    position: relative;
    width: 70%;
    height: 35rem;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box {
    position: relative;
    width: 80%;
    height: 80%;
    display: grid;
    justify-items: center;
    align-items: center;

    @include media-up(sm) {
        grid-template-columns: 1fr;
        grid-auto-flow: row;
    }
}

.divContainer__button {
    justify-self: end;
}

.form-box label {
    color: #fff;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}

.divContainer__ulres {
    position: relative;
        width: 80%;
        height: 80%;
        display: grid;
        justify-items: center;
        align-items: center;
        list-style: none;
        color: white;
        font-family: 'Montserrat', sans-serif;
        
        @include media-up(sm) {
            grid-template-columns: 1fr;
            grid-auto-flow: row;
        }
}
