@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Roboto:wght@300&display=swap');
$color1: #2d6b91;

$breackpoints: (
    sm:300px,
    sm2:430px,
    md:750px,
    lg:1024px
);

@mixin media-up($breackpoint) {
    @media screen and (min-width: map-get($breackpoints, $breackpoint)) {
        @content;
    }
}

.divTxs {
    display: grid;
    grid-auto-flow: row;
    width: 100%;
    height: 100%;
    place-items: center;
    gap: 35px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 100px;
    min-height: 500px;
}

.divTxs {
    color: rgb(90, 90, 90);
}

.divTx {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 10px;
    width: 70%;
    height: 400px;
    justify-items: center;
    gap: 10px;
    border: $color1 .5px solid;
    border-radius: 5px;
    transition: all .5s;

    @include media-up(sm) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    @include media-up(md) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}


.divTx__divSpan {
    display: grid;
    grid-auto-flow: row;
    overflow-x: scroll;
    width: 100%;
}

.divTx__divSpan span {
    width: 200px;
}

.divTx__divBsc {
    display: grid;
    place-items: center;

}

.divTx__divBsc a {
    text-decoration: none;
    color: rgb(123, 63, 228);
    transition: all .5s;
}

.divTx__divBsc a:hover {
    transform: scale(1.1)
}

.title {
    color: $color1;
}